//
// @font-face's declaration here
//
@font-face {
  font-family: 'IntroBook';
  src: url('@{public}fonts/Intro-Book.otf') format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'IntroBook';
  src: url('@{public}fonts/Intro-Book-Italic.otf') format("opentype");
  font-style: italic;
}
@font-face {
  font-family: 'IntroRegular';
  src: url('@{public}fonts/Intro-Regular.otf') format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'IntroRegular';
  src: url('@{public}fonts/Intro-Regular-Italic.otf') format("opentype");
  font-style: italic;
}
@font-face {
  font-family: 'Intro';
  src: url('@{public}fonts/intro.eot');
  src: url('@{public}fonts/intro.eot?#iefix') format('embedded-opentype'),
  url('@{public}fonts/intro.woff') format('woff'),
  url('@{public}fonts/intro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IntroInline';
  src: url('@{public}fonts/intro-inline.eot');
  src: url('@{public}fonts/intro-inline.eot?#iefix') format('embedded-opentype'),
  url('@{public}fonts/intro-inline.woff') format('woff'),
  url('@{public}fonts/intro-inline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
