//
// general style for layouts
//
html {
    color       : @black;
    min-height  : 100vh;


    // to further use sizes in rem
    //.media-for(font-size, @main_font_size); // the adaptive way
    font-size : @main_font_size;

    body {
        background : @bg-color;
        width      : auto;
        overflow-x : hidden !important;

        // nice fonts Safari
        text-rendering         : optimizeLegibility;
        -webkit-font-smoothing : antialiased;
    }
}

// box-sizing to all
*, *:before, *:after {
    .box-sizing( border-box );
}

// container & wrapper
.container {
    width     : 100%;
}
body{
    .layout-wrapper,
    .layout-main{
        width: 100%;
        max-width: 1366px;
        margin: 0 auto;
        background-color: @bg-color;
    }
    .layout-main {
        padding-top: 160px;
        @media (max-width: @screen-xs-max) {
            padding-top: 140px;
        }
        &.content-contacts {
            padding-top: 0;
        }
        &.content-index {
            padding-top: 95px;
            @media (max-width: @screen-xs-max) {
                padding-top: 90px;
            }
        }
    }
}
* {
    outline: none !important;
}