//
// Pages custom styles
//
.content-index {
  padding-top: 30px;
}

.content-about {
  border-top: 2px solid @white;
  text-align: center;
  padding: 80px 25px;
  &__item {
    max-width: @max-width;
    width: 100%;
    margin: 0 auto;
  }
  .company-logo {
    height: 300px;
    margin-bottom: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../images/panfil-logo.png");
  }
  .company-info {
    font-size: 20px;
    line-height: 28px;
    p {
      margin-bottom: 35px;
    }
  }
  @media (max-width: @screen-xs-max) {
    padding: 40px 15px;
    .company-logo {
      height: 180px;
      margin-bottom: 35px;
    }
    .company-info {
      font-size: 10px;
      line-height: 12px;
      p {
        margin-bottom: 15px;
      }
    }
  }
}
.content-products {
  border-top: 2px solid @white;
  position: relative;
}
.content-single_product {
  padding: 50px 0;
  @media (max-width: @screen-xs-max) {
    padding: 25px 0;
  }
}
.content-clear,
.content-bascket,
.content-checkout {
  border-top: 2px solid @white;
}
.page.page-clear {
  min-height: 100vh;
  height: 100%;
  position: relative;
  text-align: center;
  footer {
    position: absolute;
    bottom: 0;
  }
  h3 {
    font-family: "IntroInline";
    font-size: 20px;
    margin: 25px 0;
    color: @black;
    @media (max-width: @screen-xs-max) {
      font-size: 15px;
    }
  }
  .clear-image {
    background-color: @white;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    line-height: 130px;
    @media (max-width: @screen-xs-max) {
      margin-top: 60px;
    }
    img {
      display: inline-block;
      height: 75px;
    }
  }
  .btn.btn-default {
    margin: 0;
    width: 250px;
    @media (max-width: @screen-xs-max) {
      width: 150px;
    }
  }
}
