.actions-slider {
  font-family: "IntroBook";
  min-height: 640px;
  display: none;
  @media (max-width: @screen-sm-max) {
    min-height: 450px;
  }
  @media (max-width: @screen-xs-max) {
    min-height: 320px;
  }
  &.slick-initialized {
    display: block;
    margin: 0;
  }
  .item {
    height: 640px;
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    background-position: center;
    background-size: cover;
      @media (max-width: @screen-sm-max) {
        height: 450px;
      }
      @media (max-width: @screen-xs-max) {
        height: 320px;
      }
    h2 {
      position: absolute;
      color: #ffffff;
      font-size: 50px;
      font-weight: 300;
      bottom: 175px;
      width: 100%;
      @media (max-width: @screen-sm-max) {
        font-size: 40px;
        bottom: 120px;
      }
      @media (max-width: @screen-xs-max) {
        font-size: 20px;
        bottom: 90px;
      }
    }
    p {
      position: absolute;
      bottom: 140px;
      left: 50%;
      .transform(translateX(-50%));
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      @media (max-width: @screen-sm-max) {
        bottom: 90px;
      }
      @media (max-width: @screen-xs-max) {
        font-size: 10px;
        bottom: 70px;
      }
    }
    .btn.btn-default {
      position: absolute;
      color: #ffffff;
      bottom: 60px;
      margin: 0;
      left: 50%;
      .transform(translateX(-50%));
      border-color: #ffffff;
      @media (max-width: @screen-sm-max) {
        bottom: 25px;
      }
    }

  }
  .slick-arrow {
    display: inline-block;
    z-index: 10;
    &.slick-prev {
      left: 20px;

    }
    &.slick-next {
      right: 20px;
    }

  }
  .slick-arrow {
    &.slick-prev,
    &.slick-next {
      content: '';
      width: 40px;
      height: 40px;
      top: 50%;
      @media (max-width: @screen-xs-max) {
        //top: 120px;
      }

      &.slick-disabled{
        display: none !important;
      }
      &:before {
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }

  .slick-prev {
    &:before {
      background-image: url("../images/left-icon.png");
    }
  }
  .slick-next {
    &:before {
      background-image: url("../images/right-icon.png");
    }
  }
}
