.products {
  &__item {
    position: relative;
    border: 1px solid @white;
    text-align: center;
    height: 1015px;
    a {
      display: inline-block;
    }
    .product-img {
      display: block;
      height: 100%;
      width: 100%;
      background-position: center top;
      background-size: cover;
    }
    .info {
      visibility: hidden;
      position: absolute;
      .vertical-gradient(rgba(255,255,255, 0),rgba(0,0,0, .5));
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 250px 0 73px;
      text-align: center;
      i {
        display: none;
        font-size: 25px;
        //.text-shadow(0 0 5px @white);
        color: @white;
        &.active {
          display: inline-block;
        }
        &.fa-heart {
          color: @white;
        }
      }
      h3 {
        font-weight: bold;
        margin: 30px 0;
        span {
          //.text-shadow(0 0 5px @white);
          color: @white;
        }
      }
      .btn.btn-default {
        font-family: "IntroInline";
        font-weight: normal;
        width: 150px;
        margin: 0 5px;
        color: @white; //color: #383737;
        border-color: @white; //border-color: #383737;
        &:hover {
          &:hover,
          &:focus  {
            background-color: transparent;
            color: #777;
            border-color: #777;
          }
        }
        &.active {
          color: @black; //color: @white;
          background-color: @white; //background-color: #383737;
          &:hover {
            &:hover,
            &:focus  {
              color: @white;
              background-color: #777;
              border-color: #777;
            }
          }
        }
      }
    }

    &:hover {
      .info {
        visibility: visible;
      }
    }
    &.disabled {
      .info {
        display: none;
      }
      &:hover {
        .info {
          display: none;
        }
      }
      &:before {
        z-index: 10;
        display: inline-block;
        content: "Товар временно не доступен";
        color: @white;
        text-transform: uppercase;
        font-family: "Intro";
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        top: 45%;
        left: 50%;
        .transform(translateX(-50%));
      }
      &:after {
        z-index: 1;
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: @black;
        opacity: 0.2;

      }
    }
    @media (max-width: @screen-sm-max) {
      .info {
        padding: 50px;
        visibility: visible;
      }
    }
    @media (max-width: @screen-xs-max) {
      height: 600px;
      .info {
        padding: 25px 0;
      }
    }
  }
}
.add-to-basket {
  //display: none;
  position: fixed;
  left: 50%;
  .transform(translateX(-50%));
  top: 50%;
  z-index: 100;
  width: 250px;
  padding: 20px;
  font-family: 'IntroRegular';
  font-size: 15px;
  line-height: 1.2;
  background: @white;
  border: 2px solid @black;
  text-align: center;
}

